<h1>Welcome <%= @massage_spa.name %>.</h1>
  <br>
<h4>You have created <%= @massage_spa.clients.count%> clients.</h4>
  <br>
<p>If you want to edit your information click <a href="/massage_spas/<%= @massage_spa.id%>/edit">Here</a></p>
  <br>
  <br>
<h6>Created at: <%= @massage_spa.created_at%></h6>
<h6>Updated at: <%= @massage_spa.updated_at%></h6>

